<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="infortis" translate="label" sortOrder="152">
            <label>Infortis Extensions</label>
        </tab>
        <section id="ultraslideshow" translate="label" sortOrder="90" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Slideshow</label>
            <tab>infortis</tab>
            <resource>Infortis_UltraSlideshow::config</resource>
            <group id="general" translate="label" sortOrder="10" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="effect" translate="label" sortOrder="50" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Transition Effect</label>
                    <source_model>Infortis\UltraSlideshow\Model\Source\Effects</source_model>
                    <comment>&lt;strong style="color:red;"&gt;Important:&lt;/strong&gt; Leave empty to use simple horizontal scrolling animation.</comment>
                </field>
                <field id="timeout" translate="label" sortOrder="70" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Timeout</label>
                    <comment>Time (in milliseconds) between slide transitions. Enter "0" to disable automatic transition. Note that 1000 miliseconds = 1 second.</comment>
                </field>
                <field id="speed" translate="label" sortOrder="80" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Transition Speed</label>
                    <comment>Duration (in milliseconds) of scrolling animation. Applied to horizontal scrolling with arrows (and touch swipe).</comment>
                </field>
                <field id="auto_speed" translate="label" sortOrder="85" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Automatic Scrolling Speed</label>
                    <comment>Duration (in milliseconds) of scrolling animation. Applied to automatic horizontal scrolling (if &lt;strong&gt;Timeout&lt;/strong&gt; was specified) and to horizontal scrolling with pagination.</comment>
                </field>
                <field id="smooth_height" translate="label" sortOrder="90" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Smooth Height</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <comment>Enable, if your slides do not have the same height. It will allow height of the slideshow to animate smoothly.</comment>
                </field>
                <field id="pause" translate="label" sortOrder="100" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Pause on Hover</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <comment>If enabled, when the slideshow is mouseovered then the automatic transition functionality will pause.</comment>
                </field>
                <field id="loop" translate="label" sortOrder="110" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Loop</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <comment>If enabled, animation will loop.</comment>
                </field>
                <field id="hide" translate="label" sortOrder="120" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Hide Slides On Mobile Devices</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If set to "Yes", slideshow will be hidden on narrow screens (if browser viewport width is less than 768 pixels). Important: additional banners can be hidden separately, see options below.</comment>
                </field>
                <field id="heading_predefined" translate="label" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Main Slideshow on Home Page</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
                </field>
                <field id="blocks" translate="label" sortOrder="520" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Slides</label>
                    <comment>Enter comma separated list of static block identifiers. These static blocks will be displayed as slides in the main slideshow on home page.&lt;br/&gt;&lt;strong style="color:#F00;"&gt;Important:&lt;/strong&gt;&lt;br/&gt;&lt;strong&gt;Leave this field empty to remove the main slideshow from the home page.&lt;/strong&gt;&lt;br/&gt;&lt;strong&gt;Notice:&lt;/strong&gt;&lt;br/&gt;Value of this field will be applied only to the main slideshow on home page. To display slideshows in other places use slideshow block code described in the user guide.</comment>
                </field>
                <field id="position1" translate="label" sortOrder="530" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Position: Above Content Area, Full Width</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <comment>If enabled, the main slideshow will be displayed at the top of the main content area of the home page (just below the main menu). Slideshow will take full available width.&lt;br/&gt;&lt;strong&gt;Important:&lt;/strong&gt; do not enable slideshow in both positions at the same time.</comment>
                </field>
                <field id="position2" translate="label" sortOrder="530" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Position: Above Content Area, Boxed</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <comment>If enabled, the main slideshow will be displayed at the top of the main content area of the home page (just below the main menu).&lt;br/&gt;&lt;strong&gt;Important:&lt;/strong&gt; do not enable slideshow in both positions at the same time.</comment>
                </field>
                <field id="margin_top" translate="label" sortOrder="700" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Top Margin</label>
                    <comment>Additional top margin for the slideshow. You can set margin to add extra space above the slideshow. Enter negative value to pull the slideshow up.</comment>
                </field>
                <field id="margin_bottom" translate="label" sortOrder="710" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Bottom Margin</label>
                    <comment>Additional bottom margin for the slideshow. You can set margin to add extra space below the slideshow.</comment>
                </field>
            </group>
            <group id="banners" translate="label" sortOrder="20" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Banners</label>
                <field id="position" translate="label" sortOrder="20" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Position of Banners</label>
                    <source_model>Infortis\UltraSlideshow\Model\Source\Banners\Position</source_model>
                </field>
                <field id="hide" translate="label" sortOrder="30" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Hide Banners On Mobile Devices</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If set to "Yes", banners will be hidden on narrow screens (if browser viewport width is less than 768 pixels).</comment>
                </field>
                <field id="heading_predefined" translate="label" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Main Slideshow on Home Page</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
                </field>
                <field id="banners" translate="label" sortOrder="510" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Banners</label>
                    <comment>Identifier of a single static block which contains additional banners for the slideshow. Banners will be displayed at the side of the slideshow.&lt;br/&gt;&lt;strong style="color:#F00;"&gt;Important:&lt;/strong&gt;&lt;br/&gt;leave this field empty to remove additional banners from the main slideshow on home page.</comment>
                </field>
            </group>
            <group id="navigation" translate="label" sortOrder="30" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Navigation</label>
                <field id="pagination" translate="label" sortOrder="100" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Pagination</label>
                    <source_model>Infortis\UltraSlideshow\Model\Source\Navigation\Pagination</source_model>
                </field>
                <field id="pagination_position" translate="label" sortOrder="110" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Pagination Position</label>
                    <source_model>Infortis\UltraSlideshow\Model\Source\Navigation\Pagination\Position</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
